.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.experience_container>div {
    background: var(--color-bg-variant);
    padding: 3.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experience_container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin-top: 30px;
}

.experience_backend>h3 {
    text-align: center;
}

.experience_frontend>h3 {
    text-align: center;
}

.experience_details {
    display: flex;
    gap: 1rem;
}

.experience_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
    .experience_container {
        grid-template-columns: 1fr;
    }

    .experience_container>div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience_content {
        padding: 1rem;
    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
    .experience_container {
        gap: 1rem;
    }

    .experience_container>div {
        width: 100%;
        padding: 2rem 1 rem;
    }
}

#experience {
    margin-top: 180px;
}

h4 {
    text-transform: uppercase;
}